.grid {
  display: grid;
  width: 70vw;
  height: 60vw;
  max-width: 700px;
  max-height: 600px;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-template-rows: repeat(var(--row-count), 1fr);
  gap: 1vw;
}

.column {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end; /* Align cells to the start (bottom of the column) */
  align-items: center; /* Center cells horizontally */
  gap: 5px;
}
.gridCell {
  box-sizing: border-box;
  position: relative;
  background-color: #eee;
  border: 1px solid #ddd;
  overflow: hidden;
  width: 100%;
  height: calc(
    (60vw / var(--row-count)) - 10px
  ); /* Adjust based on grid height */
}

.player1Piece,
.player2Piece {
  width: 80%; /* Slightly smaller than the cell for visual effect */
  height: 80%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player1Piece {
  background-color: var(--p1); /* Color for player 1 */
}

.player2Piece {
  background-color: var(--p2); /* Color for player 2 */
}
